<div class="flex justify-between items-center h-16 container-border shadow-sm p-3">
  <img src="@imagePath" alt="Property">

  <div>
    <h2 class="text-right text-primary-color text-base font-semibold">@cardTitle</h2>
    <p class="text-right text-primary-color text-12px mt-1">@cardDesc</p>
  </div>
</div>
@code {
  [Parameter]
  public string imagePath { get; set; }
  [Parameter]
  public string cardTitle { get; set; }
  [Parameter]
  public string cardDesc { get; set; }
}
