@using Domain.Entities.Job;
@using Application.PluginInterfaces.Job;
@using Application.Job;
@using Application.PluginInterfaces.User;
@using Domain.Entities.Property
@using Application.PluginInterfaces.Property;
@using Application.Property;
@using HybridMobileProj.Client.Stores.Users;
@using Domain.Enums;

@inject IRequestRepository RequestRepository
@inject IPropertyManagerRepository PropertyManagerRepository
@inject IPropertyRepository PropertyRepository

<!-- Modal -->
<dialog id="createRequestModal" class="modal modal-bottom sm:modal-middle">
  <div class="modal-box">
    <form method="dialog" class="modal-backdrop">
      <button class="btn btn-sm btn-circle absolute right-2 top-2 border bg-white">✕</button>
    </form>

    <h3 class="text-base font-semibold text-[#878A99]">Create New Property</h3>

    <div class="flex flex-col gap-3 mt-7">
      <div class="flex flex-col">
        <label for="Name" class="text-12px text-primary-color">Property Name</label>
        <select class="generic-input-field w-full h-6" @bind="selectedProperty">
          @foreach (var property in properties)
          {
            <option>@property.PropertyName</option>
          }
        </select>
      </div>

      <button class="bg-dark-blue w-full h-10 text-12px mt-3" @onclick="() => CreateNewRequest()">Create
        Request</button>
    </div>

  </div>
</dialog>

<div>
  <div class="container-border flex justify-between items-center px-3 h-16">
    <h3 class="text-[#878A99] font-semibold text-sm">Helpdesk Requests</h3>

    <button
      class="rounded-sm w-28 h-10 bg-light-blue text-10px @(CurrentUser.User == UserEnum.PropertyManager ? "block" : "hidden")"
      onclick="createRequestModal.showModal()">+ Create
      Requests</button>
  </div>

  <div class="container-border-notop px-3 py-3">
    <select class="generic-input-field w-full">

      <option>Test1</option>
    </select>

    <button class="bg-dark-blue w-full h-10 text-12px mt-3">Confirm Filter</button>
  </div>

  <div class="container-border-notop mb-6">
    <div id="RequestListGrid" class="ag-theme-quartz" style="height: 250px;"></div>
  </div>
</div>

@code {
  public IEnumerable<Request>? requests;
  public IEnumerable<Property>? properties;
  public Request newRequest = new Request { };
  public RequestService _requestService;
  public PropertyService _propertyService;
  CurrentUserSingleton CurrentUser = CurrentUserSingleton.Instance();


  public string selectedProperty;

  public string filterString = "";

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender == true)
    {
      await CreateGrid(requests);
    }
  }

  protected override async Task OnInitializedAsync()
  {
    CurrentUser.OnChange += StateHasChanged;

    _requestService = new RequestService(RequestRepository);
    requests = await _requestService.GetAllAsync();

    _propertyService = new PropertyService(PropertyRepository);
    properties = await _propertyService.GetAllPropertiesAsync();

    if (CurrentUser.User == UserEnum.Contractor)
    {
      requests = requests.Where(r => r.JobStatus != JobStatusEnum.PropertyManagerSection);
    }

    if (CurrentUser.User == UserEnum.Surveyor)
    {
      requests = requests.Where(r => r.JobStatus != JobStatusEnum.PropertyManagerSection || r.JobStatus !=
      JobStatusEnum.ContractorManagerSection);
    }

    selectedProperty = properties.FirstOrDefault().PropertyName;

  }

  [Inject] IJSRuntime JSRuntime { get; set; }
  protected async Task CreateGrid(IEnumerable<Request> request)
  {
    await JSRuntime.InvokeVoidAsync("jobScripts.createGrid", request, "Request");
  }

  private async Task CreateNewRequest()
  {
    var propertyMangers = await PropertyManagerRepository.GetAllPropertyManagersAsync();

    newRequest.PropertyManager = propertyMangers.FirstOrDefault(pm => pm.FullName == "Bilal Manager");
    newRequest.Property = properties.FirstOrDefault(p => p.PropertyName == selectedProperty);
    await _requestService.InsertNewRequestAsync(newRequest);

    newRequest = new Request { };
    StateHasChanged();
    await CreateGrid(requests);
  }

  public void Dispose()
  {
    CurrentUser.OnChange -= StateHasChanged;
  }
}