<div class="container-border p-3 flex justify-between items-center">
  <div class="flex flex-col gap-[2px]">
    <h1 class="text-primary-color text-base font-semibold">£12,671.21</h1>
    <p class="text-secondary-color text-12px">Plastering Contractor</p>
  </div>
  <div class="flex gap-1">
    <div class="w-6 h-6 rounded-sm bg-light-blue flex justify-center items-center">
      <img src="images/check.svg" alt="Check">
    </div>
    <div class="w-6 h-6 rounded-sm bg-danger-red flex justify-center items-center">
      <img src="images/cross.svg" alt="cross">
    </div>
  </div>
</div>