@page "/"
@using HybridMobileProj.Client.Components.RequestList
<div>
  <div class="flex flex-col gap-6">
    <JobInfoCard imagePath="images/property.svg" cardTitle="782" cardDesc="Properties" />
    <JobInfoCard imagePath="images/jobs.svg" cardTitle="84" cardDesc="Requests & Quotes" />
    <JobInfoCard imagePath="images/money.svg" cardTitle="£12,671.21" cardDesc="Committed In Bidding" />
  </div>

  <div class="mt-8">
    <RequestListBody />
  </div>

</div>
