@using Application.Job
@using Application.PluginInterfaces.Job
@using Application.PluginInterfaces.User
@using Application.User
@using Domain.Entities.Job;
@using Domain.Entities.User
@inject IQuoteRepository QuoteRepository
@inject ISurveyorRepository SurveyorRepository

<div class="container-border p-3 flex justify-between items-center">
  <div class="flex flex-col gap-[2px]">
    <h1 class="text-primary-color text-base font-semibold">£@Bid.CurrentBid</h1>
    <p class="text-secondary-color text-12px">@Contractor.FullName</p>
  </div>
  <div class="flex gap-1 @(Accepted == false ? "block" : "hidden")">
    <div class="w-6 h-6 rounded-sm bg-light-blue flex justify-center items-center" @onclick="() => AcceptBid()">
      <img src="images/check.svg" alt="Check">
    </div>
    <div class="w-6 h-6 rounded-sm bg-danger-red flex justify-center items-center">
      <img src="images/cross.svg" alt="cross">
    </div>
  </div>
  <div class="flex @(Accepted != false ? "block" : "hidden")">
    <div class="px-2 h-6 rounded-sm bg-light-blue flex justify-center items-center">
      <p class="text-12px">Current Contractor</p>
    </div>
  </div>
</div>

@code {
  [Parameter]
  public Bid Bid { get; set; }
  [Parameter]
  public Contractor Contractor { get; set; }
  [Parameter]
  public Quote quote { get; set; }
  [Parameter]
  public EventCallback OnDataUpdated { get; set; }
  [Parameter]
  public bool Accepted { get; set; }

  public QuoteService _quoteService;
  public SurveyorService _surveyorService;


  protected override async Task OnInitializedAsync()
  {
    _quoteService = new QuoteService(QuoteRepository);
    _surveyorService = new SurveyorService(SurveyorRepository);
  }

  public async Task AcceptBid()
  {
    quote.Bid = Bid;
    quote.BidSelection = new List<Bid> { };
    quote.JobStatus = Domain.Enums.JobStatusEnum.SurveyorManagerSection;
    quote.Contractor = Contractor;
    var surveyor = await _surveyorService.GetAllSurveyorsAsync();
    quote.Surveyor = surveyor.FirstOrDefault(s => s.FullName == "Bilal Surveyor");

    await _quoteService.UpdateQuoteAsync(quote);

    await OnDataUpdated.InvokeAsync();
  }
}
