@page "/"
@using Application.Common.Interfaces
@using Application.PluginInterfaces.Property
@inject IPropertyRepository propertyRepository

<h1>Hello, world!</h1>

@if (properties != null)
{

    <button asp-page-handler="AddNewProperty" class=text-red-400>Click Me</button>

    @foreach (Property property in properties)
    {
        <h1>@property.PropertyName</h1>
        <h1>@property.Id</h1>
    }
}
else
{
    <h1>@count</h1>
    <h1>Fail</h1>
}



@code {
    IEnumerable<Property>? properties;
    int count = -1;

    protected override async Task OnInitializedAsync()
    {
        properties = await propertyRepository.GetPropertiesByNameAsync("");
        count = properties.Count();
    }

    public async Task OnGetAddNewProperty()
    {
        propertyRepository.AddProperty(4);

        properties = await propertyRepository.GetPropertiesByNameAsync("");
        count = properties.Count();
    }
}