<div class="container-border-notop px-3 py-4 flex flex-col gap-4">
  <div class="flex flex-col gap-2">
    <h3 class="text-12px text-primary-color font-semibold">Address Info</h3>
    <ContactLine Text="James Holt Avenue" />
    <ContactLine Text="Kirby" />
    <ContactLine Text="Merseyside" />
    <ContactLine Text="L32 5TD" />
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-12px text-primary-color font-semibold">Contact Info</h3>
    <ContactLine Text="Rachael Junge - Managing Director" />
    <ContactLine Text="0154 587 1424" />
    <ContactLine Text="KirkbyHouseCareHome.HomeAdministrator@hc-one.co.uk" />
  </div>

  <div class="flex flex-col gap-2">
    <h3 class="text-12px text-primary-color font-semibold">Contractor Info</h3>
    <ContractorBidPanel Bid="£12,671.21" Contractor="RED Inc. " />
    <ContractorBidPanel Bid="£10,112.01" Contractor="Blu Corp" />
  </div>

</div>